/*-------Media queries-------*/
@media screen and (max-width:1200px) {

  #testimonials {
    height: 1300px;
  }
  .photo-container {
    height: fit-content;
  }
 
  #photo img{
    width: 50%;
  }

  
  .contact {
  padding-top: 300px;
    
  }
  .about-me img {
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .inner-container {
      text-align: center;
  }
  .container img {
    margin: auto;
    float: none;
    display: block;
    max-width: 50px;
    max-height: 50px;
}

}



/*-------General Styling-------*/

body {
  font-family: 'Lato', sans-serif;
  
}

h1 {
  margin-bottom: 40px
}

#page-container {
  min-height: 100vh;
  position: relative;
}

/*-------About me-------*/
.about-me-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-me img {
  margin-top: 40px;
}
 /*-------Gallery-------*/

 #photo {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
}

#photo img{
  width: 100%;
}

/*-------Testimonials-------*/

.testimonials-container {
  padding-bottom: 200px;
}

.testimonials-container h1 {
  text-align: center;
}

.testimonials-container h1:hover {
  transform:  scale(.9);
}

.inner-container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 20px;
}

.inner-container::after {
  content: "";
  clear: both;
  display: table;
}

.inner-container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.inner-container span {
  font-size: 20px;
  margin-right: 15px;
}
/*------Navbar-------*/

.navbar-brand img {

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 120px;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

/*-----About me----*/

.about-me {
    
    margin-bottom: 20px;
}


.about-me img {
  max-width: 100%;
}

.about-me-content  {

  min-height: 600px;
  }

  .about-me-content strong{
    display: block;
  }

  .about-me-content h1 {
    text-align: center;
    margin-top: 20px;
  }

  .about-me-content p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  hr.sep-2 {
    border: 0; 
    height: 4px; 
    background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
  }


.my-qualifications  {
  
display: flex;
justify-content: center;
margin-top: 20px;
margin-bottom: 20px;
}
/*------Contact-------*/

.contact {
  margin-top: 20px;
  height: 800px;
}

.contact-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

label {
  color: #333
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 40px;
  margin-top: 20px;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px
}

.card {
  margin-left: 10px;
  margin-right: 10px
}

/*-----Footer----*/

.footer-container {
    background-color: #f0f0f0;
    position:absolute;
   bottom:0;
   width:100%;
}





.copyright-div {
  background-color: rgba(0, 0, 0, 0.2);

}

/*------Gallery----*/

#photo {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0px;
}



#photo img{
  width: 100%;
}