/*-------Media queries-------*/
@media screen and (max-width:1200px) {

  #testimonials {
    height: 1300px;
  }
  .photo-container {
    height: fit-content;
  }
 
  #photo img{
    width: 50%;
  }

  .about-me-content {
   margin: 20px 100px;
  }

  
  .contact {
  padding-top: 300px;
  margin-top: 0;
    
  }
  .about-me img {
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .inner-container {
      text-align: center;
  }
  .gallery-container img {
    margin: auto;
    float: none;
    display: block;
    max-width: 50px;
    max-height: 50px;
}

}



/*-------General Styling-------*/

body {
  font-family: 'Lato', sans-serif;
  
}

h1 {
  margin-bottom: 40px
}

h1:hover {
  transform: scale(0.9);
}

#page-container {
  min-height: 100vh;
  position: relative;
}




/*-------Testimonials-------*/

.testimonials-container {
  padding-bottom: 200px;
}

.testimonials-container img {
  border-radius: 50%;
}

.testimonials-container h1 {
  text-align: center;
}

.testimonials-container h1:hover {
  transform:  scale(.9);
}

.inner-container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 40px;
  margin: 16px 50px;
}

.inner-container::after {
  content: "";
  clear: both;
  display: table;
}

.inner-container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.inner-container span {
  font-size: 20px;
  margin-right: 15px;
}
/*------Navbar-------*/

.navbar-brand img {

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 120px;
  height: 120px;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

/*-----About me----*/

.about-me {
    
    margin-bottom: 20px;
}

.about-me-img {
  margin-top: 100px;
  height: 600px;
  width: 100%;
  background-image: url("../images/ezgif.com-gif-maker (3).webp");
  background-size: cover;
}

.about-me-img img {
  object-fit: cover;
}

.about-me-content {
  margin: 20px 190px;
  min-height: 600px;
}




  .about-me-content strong{
    display: block;
  }

  .about-me-content h1 {
    text-align: center;
    margin-top: 20px;
  }

  .about-me-content p {
    
    margin-left: 20px;
    margin-right: 20px;
  }

  hr.sep-2 {
    border: 0; 
    height: 4px; 
    background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
  }


.my-qualifications  {
  
display: flex;
justify-content: center;
margin-top: 20px;
margin-bottom: 20px;
}

/*------Contact-------*/

.contact {
  padding-top: 200px;
  
  height: 1450px;
  background-image: url("../images/pexels-ivan-samkov-4162451.jpg") ;
  background-size: 100%;
}

.contact h1 {
  text-align: center;
}
.contact-container {
  
  margin-bottom: 40px;
}

label {
  color: #333
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 40px;
  margin-top: 20px;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px
}

.card {
  margin-left: 10px;
  margin-right: 10px
}

/*-----Footer----*/

.footer-container {
    background-color: #f0f0f0;
    position:absolute;
   bottom:0;
   width:100%;
}

.copyright-div {
  background-color: rgba(0, 0, 0, 0.2);

}


/*----Socials-----*/

i.fa-twitter:hover {
  color: #1DA1F2;

}

i.fa-youtube:hover {
  color: 	#FF0000;

}

i.fa-facebook-f:hover {
  color: #4267B2;

}

i.fa-instagram:hover {
  color: #833AB4;

}






